/*------------------------Reseteo general------------------------------ */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*---------------------------------------- Estilos generales del cuerpo ----------------------------*/
body,
html {
    color: #000000;
    background-image: url('imagenes/computador.gif');
    background-position: center top;
    background-repeat: repeat;
    

    line-height: 1.6;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Estilo de opacidad por menu responsivo */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

main {
    flex: 1;
    padding-top: calc(4em + 8px);    /* Ajusta dinámicamente según la altura del encabezado */
    width: 100%;
}

.section {
    scroll-margin-top: 80px;
    padding: 40px 10px;
    margin-top: -8px; /* Espacio alrededor del contenido de cada sección */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

  
.section.visible {
    visibility: visible;
    opacity: 1;
}


/*--------------------------------------------- Estilo del encabezado ----------------------------------------------*/
.header {
    background-image: url('imagenes/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    font-family: 'Source Code Pro', 'Courier New', monospace;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    list-style: none;
}

.header__nav-link {
    text-decoration: none;
    font-weight: bold;
    padding: 0rem 0rem;
    font-size: 1.2rem;
    font-family: 'Source Code Pro', 'Courier New', monospace;
    color: rgb(255, 140, 0);
    transition: color 0.3s ease, transform 0.3s ease;
}

.header__nav-link:hover {
    color: white;
    transform: scale(1.1);
}

.header__nav-link.active {
    color: #fff;
    transform: scale(1.1);
}

.header__menu-button--open,
.header__menu-button--close {
    display: none;
    font-size: 1.5rem;
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
}

.header__menu-button--open:hover,
.header__menu-button--close:hover {
    color: rgb(255, 140, 0);

}

@media screen and (min-width: 1024px) {
    .header {
        padding: 1rem 2rem;
    }
    .header__nav-list {
        display: flex;
    }
    .header__menu-button--open,
    .header__menu-button--close {
    display: none;
    }
}

@media screen and (max-width: 1069px) {
    .header__nav-list {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        background-color: #000000;
        transform: translateX(100%);
        transition: transform 0s ease;
        box-shadow: -4px 0 10px rgba(151, 123, 89, 0.8);

    }

    .header__nav-list.visible {
        transform: translateX(0);
    }

    .header__menu-button--open {
        display: block;
        align-self: flex-end;
        position: absolute;
        right: -1rem;
        top: -1rem;
        margin-top: 30px;
        padding: 15px 30px;
    }

    .header__menu-button--close {
        display: block;
        align-self: flex-end;
        margin-bottom: 1rem;
        padding: 15px 30px;
    }

    .header {
        padding: 1rem 1.1rem;
    }

    .header__nav-link {
        font-size: 0.9rem;
        margin-left: 9px;

    }
}

@keyframes cambioColor {
    0% {
        color: rgb(204, 85, 0);
        text-shadow: 0 0 5px rgba(204, 85, 0, 0.6), 0 0 10px rgba(204, 85, 0, 0.4);

    }

    20% {
        color: rgb(255, 110, 0);
        text-shadow: 0 0 8px rgba(255, 110, 0, 0.7), 0 0 15px rgba(255, 110, 0, 0.4);

    }

    40% {
        color: rgb(255, 140, 0);
        text-shadow: 0 0 10px rgba(255, 140, 0, 0.8), 0 0 20px rgba(255, 140, 0, 0.5);
    }

    60% {
        color: rgb(255, 170, 0);
        text-shadow: 0 0 12px rgba(255, 170, 0, 0.8), 0 0 25px rgba(255, 170, 0, 0.6);
    }

    80% {
        color: rgb(255, 140, 0);
        text-shadow: 0 0 10px rgba(255, 140, 0, 0.8), 0 0 20px rgba(255, 140, 0, 0.5);
    }

    100% {
        color: rgb(204, 85, 0);
        text-shadow: 0 0 5px rgba(204, 85, 0, 0.6), 0 0 10px rgba(204, 85, 0, 0.4);
    }

}

.header__logo {
    letter-spacing: 10px;
    font-size: 20px;
    font-family: 'Orbitron';
    font-weight: bold;
    display: inline-block;
    animation: cambioColor 10s infinite linear;
    text-shadow: 0 0 5px rgba(255, 223, 79, 0.8);
}

/*----------------------------------- Sección Inicio --------------------------------------------------*/
.section--home {
    min-height: 100vh;
    text-align: center;
    padding: 50px;
}

.section--home h1 {
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 2rem;
    color: #ffffff;
    font-family: 'Source Code Pro', 'Courier New', monospace;
    background: rgba(0, 0, 0, 0.322);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.home__link {
    color: #00f7ff;
    text-decoration: none;
    font-weight: bold;
}

.home__link:hover {
    text-decoration: underline;
    color: #2980b9;
}

.home__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.home__content {
    position: relative;
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 50px 20px 20px;
    color: #ffffff;
    border-radius: 12px;
    background: rgb(0 0 0 / 81%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.425);
}

.home__subtitle {
    position: absolute;
    left: 10px;
    top: 10px;
    background: #ff6600;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    font-size: 0.9rem;
    margin: 0;
}

.home__images-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.home__image img {
    width: 120px;
    height: auto;
    transition: transform 0.3s;
    animation: scale-up 2.5s infinite alternate ease-in-out;
}

@keyframes scale-up {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

@media (max-width: 890px) {
    .home__container {
        flex-direction: column;
        align-items: center;
    }

    .home__content {
        flex: 1 1 100%;
        width: 90%;
    }

    .home__image img {
        width: 100px;
    }
}

.home__button {
    padding: 15px 30px;
    border-radius: 12px;
    background: rgb(0 0 0 / 81%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.425);
    color: #ffffff;
    cursor: pointer;
    margin-top: 30px;
    font-size: 18px;
    text-transform: uppercase;
}

.home__button:hover {
    transform: translateY(-2px);
}


/*-----------------------------------------ACERCA DE MI ---------------------------------------------------------------------*/

.section--about {
    padding: 20px;
    min-height: 100vh;
}

.about__content {
    max-width: 1000px;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: stretch;
}

.about__content-section {
    flex: 1;
    min-width: 45%;
    padding: 20px;
    background: rgb(0 0 0 / 81%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(170, 166, 166, 0.021);
    animation: cambioColorBordeDiamante 4s infinite ease-in-out;
}

.about__details {
    border-radius: 10px;
    padding: 10px;
    background: #1f202277;
    cursor: pointer;
    color: #ffffff;
}

.about__details[open] {
    background: #1f202277;
    color: #ffffff;
}

.about__summary {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}

.about__summary i {
    transition: transform 0.7s ease;
}

.about__details[open] .about__summary i{
    transform: rotate(180deg);
}

.about__skills {
    margin-top: 15px;
    padding: 10px;
    background: #1f202277;
    border-radius: 10px;
    text-align: center;
}

.about__skills-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 15px;
    justify-items: center;
}

.about__skills-icons img {
    width: 60px;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.about__icon-container {
    position: relative;
    display: inline-block;
}

/* Ocultar el texto por defecto */
.about__tooltip {
    visibility: hidden;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Mostrar el texto cuando el mouse está encima */
.about__icon-container:hover .about__tooltip{
    visibility: visible;
    opacity: 1;
}

.about__skills-icons img:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}

.about__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    justify-items: center;
    margin-top: 20px;
}

.about__certificates {
    margin-top: 35px;
}

.about__certificates h2 {
    color: white;
    text-align: center;
    background: #1f202277;
    border-radius: 5px;
}

.about__certificate {
    text-align: center;
    background: rgba(35, 35, 36, 0.39);
    color: #ffffff;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: cambiocertificadocolor 6s infinite ease-out;
}

.about__certificate:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Miniaturas de certificados */
.about__thumbnail{
    width: 100%;
    max-width: 200px;
    height: auto;
    cursor: pointer;
    border-radius: 3px;
    transition: transform 0.3s ease;
    filter: brightness(88%);
}

.about__thumbnail:hover {
    transform: scale(1.1);
}

/* Modal para ampliar imágenes */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

.modal.visible {
    visibility: visible;
    opacity: 1;
  }

/* Imagen grande dentro del modal */
.modal img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}

/* Botón para cerrar el modal */
.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .about__content {
        flex-direction: column;
        gap: 10px;
    }
    .about__content-seccion {
        min-width: 100%;

    }
}

@keyframes cambioColorBordeDiamante {
    0% {
        border-color: rgb(138, 43, 226);
        box-shadow: 0 0 5px rgba(138, 43, 226, 0.6), 0 0 10px rgba(138, 43, 226, 0.4);
    }

    20% {
        border-color: rgb(186, 85, 211);
        box-shadow: 0 0 8px rgba(186, 85, 211, 0.7), 0 0 15px rgba(186, 85, 211, 0.4);
    }

    40% {
        border-color: rgb(221, 160, 221);
        box-shadow: 0 0 10px rgba(221, 160, 221, 0.8), 0 0 20px rgba(221, 160, 221, 0.5);
    }

    60% {
        border-color: rgb(255, 0, 255);
        box-shadow: 0 0 12px rgba(255, 0, 255, 0.8), 0 0 25px rgba(255, 0, 255, 0.6);
    }

    80% {
        border-color: rgb(221, 160, 221);
        box-shadow: 0 0 10px rgba(221, 160, 221, 0.8), 0 0 20px rgba(221, 160, 221, 0.5);
    }

    100% {
        border-color: rgb(138, 43, 226);
        box-shadow: 0 0 5px rgba(138, 43, 226, 0.6), 0 0 10px rgba(138, 43, 226, 0.4);
    }

}

@keyframes cambiocertificadocolor {
    0% {
        border-color: rgb(0, 85, 204);
        box-shadow: 0 0 5px rgba(0, 85, 204, 0.6), 0 0 10px rgba(0, 85, 204, 0.4);
    }

    20% {
        border-color: rgb(0, 110, 255);
        box-shadow: 0 0 8px rgba(0, 110, 255, 0.7), 0 0 15px rgba(0, 110, 255, 0.4);
    }

    40% {
        border-color: rgb(0, 140, 255);
        box-shadow: 0 0 10px rgba(0, 140, 255, 0.8), 0 0 20px rgba(0, 140, 255, 0.5);
    }

    60% {
        border-color: rgb(0, 170, 255);
        box-shadow: 0 0 12px rgba(0, 170, 255, 0.8), 0 0 25px rgba(0, 170, 255, 0.6);
    }

    80% {
        border-color: rgb(0, 140, 255);
        box-shadow: 0 0 10px rgba(0, 140, 255, 0.8), 0 0 20px rgba(0, 140, 255, 0.5);
    }

    100% {
        border-color: rgb(0, 85, 204);
        box-shadow: 0 0 5px rgba(0, 85, 204, 0.6), 0 0 10px rgba(0, 85, 204, 0.4);
    }
}

/*------------------------------------------------ Sección Servicios -------------------------------------------------------------*/

.section--functions{
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 20px 0;
    min-height: 53vh;
}

.functions__organizer {
    display: grid;
    grid-template-columns: 20% 55% 20%;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    gap: 10px;
}

.functions__container {
    text-align: center;
    width: 100%;
    padding: 20px;
    background: rgb(0 0 0 / 81%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(170, 166, 166, 0.021);
    animation: cambioColorBordeDiamante 4s infinite ease-in-out;
    position: relative;
    min-height: 300px;
}

.functions__arrow {
    background: none;
    border: none;
    font-size: 4rem;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 10px;

}

.functions__arrow i {
    background: rgba(0, 0, 0, 0.897);
    color: #fff;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;

}

.functions__text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    text-align: justify;
}

.functions__text.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out;
    position: static;
}

.functions__title{
    margin-top: 0;
    font-size: 1.5rem;
    color: #00bcd4;
    text-align: center;
}

.functions__subtitle {
    font-size: 1.2rem;
    margin: 10px 0;
}

.functions__description {
    font-size: 1rem;
    line-height: 1.5;
    margin-left: 30px;
    color: #ccc;
}

@media (max-width: 768px) {
    .functions__organizer {
        grid-template-columns: 12% 70% 12%;
    }

    .functions__arrow {
        font-size: 1.5rem;
    }

    .functions__title {
        font-size: 1.2rem;
    }

    .functions__subtitle{
        font-size: 1rem;
    }

    .functions__description{
        font-size: 0.9rem;
    }
}


/* ----------------------------------------Sección Portafolio ------------------------------------------------------------------------------*/
/* Estilo general de la sección */
.section--portfolio {
    color: white;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.portfolio__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
        align-items: center;
    justify-content: center;
}

/* Títulos */
.section--portfolio h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
    position: relative;
}

.section--portfolio h2::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: orange;
    bottom: -8px;
    left: 0;
    border-radius: 4px;
    animation: glow 2s infinite ease-in-out;
}

/* Listas */
.section--portfolio ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.section--portfolio li {
    margin-bottom: 15px;
}

/* Enlaces */
.section--portfolio a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s, text-shadow 0.3s;
}

.section--portfolio a:hover {
    color: orange;
    text-shadow: 0 0 8px orange;
}

/* Estilo para cada bloque de contenido */
.portfolio__temario,
.portfolio__practicas {
    background-color: #000000;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(255, 165, 0, 0.2);
}


@keyframes glow {
    0%, 100% {
        box-shadow: 0 0 5px orange;
    }
    50% {
        box-shadow: 0 0 15px orange;
    }
}


@media (min-width: 768px) {
    .section--portfolio {
        flex-direction: row;
        justify-content: space-between;
    }

    .portfolio__temario,
    .portfolio__practicas {
        width: 48%;
    }
}


/* -----------------------------------------------------------------------------------Estilos generales para la sección de contacto ---------------------------------*/
.section--contact {
    padding: 4rem 2rem;
    min-height: 100vh;
    background-image: url('imagenes/computador2.gif');
    background-position: center top;
    background-repeat: repeat;
    color: #e0e0e0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.section--contact h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.1rem;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background: rgb(0 0 0 / 88%);
    border-radius: 10px;
    box-shadow: 0 8px 32px rgb(0 0 0 / 89%);
}

.contact-form__label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    margin-bottom: 0.5rem;
}

.contact-form__input,
.contact-form__textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.616);
    color: #000000;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.contact-form__input:focus,
.contact-form__textarea:focus {
    border-color: #ffffff;
    background: rgb(255, 255, 255);
    outline: none;
    transform: scale(1.02);
}

.contact-form__textarea {
    resize: vertical;
    min-height: 150px;
}

.contact-button {
    padding: 12px 1px;
    background: #7ce7e4;
    color: #000000;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-button:hover {
    background: #00cce7;
    transform: translateY(-3px);

}

.contact-form__input:hover,
.contact-form__textarea:hover {
    border-color: #000000;
    background: rgba(255, 255, 255, 0.87);
}


@media (max-width: 768px) {
    .section--contact{
        padding: 2rem 1rem;
    }
    .section--contact h2 {
        font-size: 2rem;
    }
    .contact-form {
        padding: 1.5rem;
    }
}

@media (max-width: 480px) {
    .section--contact h2  {
        font-size: 1.75rem;
    }
    .contact-form__input,
    .contact-form__textarea {
        padding: 10px;
    }
    .contact-button {
        padding: 10px 20px;
    }
}


/*-----------------------------------------Estilos generales para el pie de página ------------------------------------------------------------------------*/

.footer {
    background-image: url('imagenes/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 7px 3px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 -4px 6px rgba(0, 0, 0);
}

.footer__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    margin: 11px auto;
    padding: 0 15px;
    flex-wrap: wrap;
    gap: 20px;
}

.footer__left,
.footer__center,
.footer__right {
    flex: 1 1 30%;
    text-align: center;
    max-width: 380px;
}

.footer__left img {
    width: 180px;
    margin-bottom: -49px;
    margin-left: 14px;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links__icon {
    margin: 0 3px;
    margin-left: 15px;
    font-size: 2rem;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
    letter-spacing: 5px;
    animation: cambioColor 10s infinite linear;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer__bottom {
    margin-top: 20px;
    margin-bottom: 1px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.footer__bottom a {
    color: #ffae00;
    text-decoration: none;
}

.footer__bottom a:hover {
    text-decoration: underline;
}

@media (max-width: 991px) {
    .footer__container {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .footer__left,
    .footer__center,
    .footer__right {
        max-width: 100%;
        flex: 1 1 100%;
    }
}